@keyframes move {
    0% {left:300px}
    100%{left: 0px;}
}

.box{
    position: relative;
    height: 180px;
    border-style: solid;
    width: 180px;
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    margin: 5px;
    
}
.div1{
    animation-timing-function: linear;
    background-image: url("./imagens/hunza.jpg");
}
.div2{
    animation-timing-function: ease ;
    background-image: url("./imagens/saulinho.jpg");
}
.div3{
    animation-timing-function: ease-in;
    background-image: url("./imagens/game.jpg");
}
.container{
    background-image: url("./imagens/data.jpg");
}
.about{
    width: 1100px;
    align-content: center;
    padding: 70px;
}
.lado{
    float: left;
    height: 400px;
    width: 400px;

}
