body{
    margin: 0;
    padding: 0;
    background-image: url("imagens/code2.jpg");
}
.header{
    overflow: hidden;
    margin: auto;
    width: 98.5%;
    height: 35px;
    background-color: #5C57A4;
    padding: 10px;
    font-size: 18px;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
h3{
    margin: 0;
    padding: 0;
}
li{
    float: left;
    color: white;
    margin-left: 15px;
    border: white solid 2px;
    border-radius: 10px;
    padding: 5px;
}
li:hover{
    background:white ;
    color: #5C57A4;
}
.logo{
    float: left;
    color: white;
}
@media screen and (max-width: 500px) {
    .logo{
        float: none;
        text-align: center;
    }
    .menu{
        float: none;
        text-align: center;
        margin-top: 20px;        
    }
    li{
        float: none;
        margin-bottom: 5px;
        padding: 10px;  
    }
}

    @keyframes move{
        0% {left: 500px;}
        100% {left: 100px;}
    }
    .box{
        position: relative;
        width: 180px;
        height: 180px;
        border-style: solid;
        border-color: lightgoldenrodyellow;
        animation-name: move;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        margin: 10px;
    }

    .div1{
        animation-timing-function: linear;
    }
    .div2{
        animation-timing-function: ease-in;
    }
    .div3{
        animation-timing-function: ease-in-out;
    }
    img{
        width: 100%;
        height: 100%;
    }