body{
    margin: 0;
    padding: 0;
}
.header{
    overflow: hidden;
    margin: auto;
    width: 98.5%;
    height: 35px;
    background-color: #5C57A4;
    padding: 10px;
    font-size: 18px;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
h3{
    margin: 0;
    padding: 0;
}
li{
    float: left;
    color: white;
    margin-left: 15px;
    border: white solid 1px;
    border-radius: 10px;
    padding: 5px;
}
li:hover{
    background:white ;
    color: #5C57A4;
}
.logo{
    float: left;
    color: white;
}
@media screen and (max-width: 500px) {
    .logo{
        float: none;
        text-align: center;
    }
    .menu{
        float: none;
        text-align: center;
        margin-top: 20px;        
    }
    li{
        float: none;
        margin-bottom: 5px;
        padding: 10px;  
    }
}
main{
    background-image: url("imagens/code2.jpg");
    width: 900px;
    height: 550px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, green0, blue0, .5alpha);
}
button{
    display: block;
    
   

}
