
#red{
    width: 100px;
    height: 500px;
    background-color: red;
    display: inline-flex;
}
#green{
    width: 100px;
    height: 500px;
    background-color:green;
    display: inline-flex;
}
#blue{
    width: 100px;
    height: 500px;
    background-color:blue;
    display: inline-flex;
}