@keyframes move {
    0% {left:300px}
    100%{left: 0px;}
}
.{
    background-color: lightgrey;
}
.box{
    position: relative;
    height: 110px;
    border-style: solid;
    width: 110px;
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.div1{
    animation-timing-function: linear;
    background-image: url("./imagens/hunza.jpg");
}
.div2{
    animation-timing-function: ease ;
    background-image: url("./imagens/saulinho.jpg");
}
.div3{
    animation-timing-function: ease-in;
    background-image: url("./imagens/game.jpg");
}
.div4{
    animation-timing-function: ease-out;
}
.div5{
    animation-timing-function:ease-in-out ;
}
.container{
    background-image: url("./imagens/data.jpg");
}